@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
body{
  background-color: #352803;
  color: white;
  font-family: "Handlee", cursive;
  font-weight: 200;
  font-size: 20;
  font-style: normal;
}
h1{
  text-align: center;
}
.place{
    padding-left: 6.8vw;
    overflow: auto;

}
.place div {
    border: .5vh solid black;
    text-align: center;
    width: 27vw;
    margin-right: auto;
    float: left;
    margin: 1vw;
    height: 35vh;
    border-radius: 2vw;
    background-color: #B7B5B3;
}
