@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
body{
  background-color: #352803;
  color: white;
  font-family: "Handlee", cursive;
  font-weight: 200;
  font-size: 20;
  font-style: normal;
}
h1{
  text-align: center;
}
.place{
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin-right: 5px;
}
.place div {
    border: .5vh solid black;
    text-align: center;
    min-width: 400px;
    width: 30vw;
    margin: 1vw;
    height: 35vh;
    max-height: 35vh;
    border-radius: 2vw;
    background-color: #B7B5B3;
}
